[submodule "santander-one"]
	path = santander-one
	url = git@github.com:santander-group-europe/ios-santander-one.git
[submodule "i18n-poland"]
	path = i18n-poland
	url = git@github.com:santander-group-europe/common-i18n-poland.git
