<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431428303818-0ctrf04tj8i5gbbn6utn3i9073ma2h3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431428303818-0ctrf04tj8i5gbbn6utn3i9073ma2h3a</string>
	<key>API_KEY</key>
	<string>AIzaSyAL7n36IKKeLVAdKi1dsiowT1Xv2F6HLVw</string>
	<key>GCM_SENDER_ID</key>
	<string>431428303818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.santander.oneapp.preprod</string>
	<key>PROJECT_ID</key>
	<string>one-app---pl---preprod</string>
	<key>STORAGE_BUCKET</key>
	<string>one-app---pl---preprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431428303818:ios:7d94a62b5f3eb265842d33</string>
</dict>
</plist>