<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>588947826078-7bvr7fghtelituumlbp232o25se8o39v.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.588947826078-7bvr7fghtelituumlbp232o25se8o39v</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>588947826078-j53jsb5ta08atrt3vtq7bk49j9tgq3b5.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBkkwpWzw4OsYzV6myR3iletwllKEXEYN4</string>
    <key>GCM_SENDER_ID</key>
    <string>588947826078</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>pl.santander.oneapp.prod</string>
    <key>PROJECT_ID</key>
    <string>one-app-dev-b3012</string>
    <key>STORAGE_BUCKET</key>
    <string>one-app-dev-b3012.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:588947826078:ios:f3f1603f8be2d87428e28f</string>
</dict>
</plist>
