<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351179148818-3c468g5of81pdbufc53l80ipes35c141.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351179148818-3c468g5of81pdbufc53l80ipes35c141</string>
	<key>API_KEY</key>
	<string>AIzaSyCv-CmkXgl9jKCyWjH_WxREIpxvAVnrr4c</string>
	<key>GCM_SENDER_ID</key>
	<string>351179148818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.santander.oneapp.prod</string>
	<key>PROJECT_ID</key>
	<string>one-app---pl---prod</string>
	<key>STORAGE_BUCKET</key>
	<string>one-app---pl---prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351179148818:ios:37a194fc5265d540d012cb</string>
</dict>
</plist>