<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173896653452-i2k2qppbtli756gk4np9o9g3ov1k4vu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173896653452-i2k2qppbtli756gk4np9o9g3ov1k4vu4</string>
	<key>API_KEY</key>
	<string>AIzaSyBEuWNjWtC8bDIZ7JCAE5mn42gRTRKfkYc</string>
	<key>GCM_SENDER_ID</key>
	<string>173896653452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.bancosantander.oneapp.intern.0.0</string>
	<key>PROJECT_ID</key>
	<string>one-app-pl-experis-development</string>
	<key>STORAGE_BUCKET</key>
	<string>one-app-pl-experis-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173896653452:ios:fdfae50880dfb70c5239a9</string>
</dict>
</plist>
