//
//  INTERN.xcconfig
//  Santander
//
//  Created by Jose C. Yebes on 03/05/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = PL-INTERN-$(MARKETING_VERSION)
PRODUCT_BUNDLE_IDENTIFIER = pl.bancosantander.oneapp.intern.0.0
WIDGET_BUNDLE_IDENTIFIER = $PRODUCT_BUNDLE_IDENTIFIER.widget
SIRI_BUNDLE_IDENTIFIER = $PRODUCT_BUNDLE_IDENTIFIER.siri.intents
SIRI_UI_BUNDLE_IDENTIFIER = $PRODUCT_BUNDLE_IDENTIFIER.siri.intents.ui
APP_NAME = Santander Intern
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
EMMA_API_KEY = santanderdevpTz6MgP3b
LOAD_PFM_ENABLED = YES
LOG_ENABLED = YES
MANAGER_WALL_PRODUCTION_ENVIRONMENT = NO
TEALIUM_TARGET = dev
APP_CENTER_IDENTIFIER = 787bef6c-3747-4caa-aace-66ce17dd1a7b // TODO: PL right app center
TRUST_INVALID_CERTIFICATE = YES
ENVIRONMENTS_AVAILABLE = YES
KEYCHAIN_SERVICE = INTERN_Santander
DEFAULT_DEMO_USER = 12345678Z
DEFAULT_MAGIC = 14725836
ENVIRONMENTS_FOLDER = $(SRCROOT)/Santander/Configuration/Legacy
ENVIRONMENTS_TO_EXCLUDE = $(ENVIRONMENTS_FOLDER)/PRO/* $(ENVIRONMENTS_FOLDER)/PRE/* $(ENVIRONMENTS_FOLDER)/DEV/*
TRUSTEER_FILES_TO_EXCLUDE = $(SRCROOT)/Santander/Trusteer/Wrapper/PRO/SdkHandler.mm
EXCLUDED_SOURCE_FILE_NAMES = $(ENVIRONMENTS_TO_EXCLUDE) $(TRUSTEER_FILES_TO_EXCLUDE)
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Santander/Trusteer/tas/include
TAS_ROOT = "$(SRCROOT)/Santander/Trusteer/tas"
APP_GROUPS_IDENTIFIER = group.es.bancosantander.mobility.ios.retail
SHARED_KEYCHAIN_IDENTIFIER = JFX6PVNK48.es.santander.sso
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Santander/Entitlement/Debug.entitlements
DEMO_AVAILABLE = YES
