//
//  UAT.xcconfig
//  Santander
//
//  Created by 187831 on 26/10/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = PL-ZT2-$(MARKETING_VERSION)
PRODUCT_BUNDLE_IDENTIFIER = pl.santander.oneapp.uat
WIDGET_BUNDLE_IDENTIFIER = pl.santander.oneapp.uat.widget
SIRI_BUNDLE_IDENTIFIER = pl.santander.oneapp.uat.siri.intents
SIRI_UI_BUNDLE_IDENTIFIER = pl.santander.oneapp.uat.siri.intents.ui
APP_NAME = Santander Uat
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
EMMA_API_KEY = santanderpreHdgTYANJ0
LOAD_PFM_ENABLED = YES
LOG_ENABLED = YES
MANAGER_WALL_PRODUCTION_ENVIRONMENT = NO
TEALIUM_TARGET = qa
APP_CENTER_IDENTIFIER = ffcc0fdd-0d89-4ed9-9bed-e1c7d7c966b8 // TODO: PL right app center
TRUST_INVALID_CERTIFICATE = YES
ENVIRONMENTS_AVAILABLE = NO
KEYCHAIN_SERVICE = UAT_Santander
ENVIRONMENTS_FOLDER = $(SRCROOT)/Santander/Configuration/Legacy
ENVIRONMENTS_TO_EXCLUDE = $(ENVIRONMENTS_FOLDER)/INTERN/* $(ENVIRONMENTS_FOLDER)/PRO/* $(ENVIRONMENTS_FOLDER)/DEV/* $(ENVIRONMENTS_FOLDER)/PRE/* $(ENVIRONMENTS_FOLDER)/Regression/* $(ENVIRONMENTS_FOLDER)/PREPROD/*
TRUSTEER_FILES_TO_EXCLUDE = $(SRCROOT)/Santander/Trusteer/Wrapper/PRO/SdkHandler.mm
EXCLUDED_SOURCE_FILE_NAMES = $(ENVIRONMENTS_TO_EXCLUDE) $(TRUSTEER_FILES_TO_EXCLUDE)
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Santander/Trusteer/tas/include
TAS_ROOT = "$(SRCROOT)/Santander/Trusteer/tas"
APP_GROUPS_IDENTIFIER = group.pl.santander.oneapp
SHARED_KEYCHAIN_IDENTIFIER = 6E95WJX594.pl.santander.oneapp
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Santander/Entitlement/UAT.entitlements
DYNATRACE_APP_ID = af58c80c-f4c7-4fc8-bbed-a8038770c738
DYNATRACE_AUTO_ACTION_TIMEOUT = 5000
DYNATRACE_BEACON_URL = https:/$()/activegatetest.santanderbankpolska.pl:9999/mbeacon/7f01edd2-1060-487b-87d4-3acf42246e84
